@use "../styles/colors";

@mixin post-div {
    border-radius: 1em;
    text-align: left;
    padding: 6em 6em 2em 3em;
    color: colors.$text-color;
    font-size: 1.5em;
    background-repeat: no-repeat;
    background-size: cover;
}