@use "../styles/colors";
@use "../styles/fonts";

@use "../styles/components/header";
@use "../styles/components/main";
@use "../styles/components/footer";

* {
    background-color: colors.$background-color;
    font-family: fonts.$main-font;
    color: colors.$text-color;
}

.button--large {
    background-color: colors.$lighter-background;
    border: none;
    text-align: center;
    font-size: 0.7em;
    letter-spacing: 0.3em;
    padding: 2em 3em;
    border-radius: 0.5em;
    margin: 1em;
    &:hover {
        background-color: colors.$hover-color;
        color: colors.$background-color;
    }
}