@use "../styles/colors";
@use "../styles/fonts";
@use "../styles/mixins";

@use "../styles/components/header";
@use "../styles/components/main";
@use "../styles/components/footer";

* {
    background-color: colors.$dark;
    font-family: fonts.$main-font;
    color: colors.$light;
}

h2 {
    @include mixins.header;
    font-size: fonts.$h-xxl;
}

h3 {
    @include mixins.header;
    font-size: fonts.$h-xl;
}

h4 {
    @include mixins.header;
    font-size: fonts.$h-l;;
}

h5 {
    @include mixins.header;
    font-size: fonts.$h-m;
}