@use "../colors";

footer {
    padding: 2em;
    display: grid;
    grid-template-columns: 2fr 1fr;
    nav {
        display: flex;
        justify-content: flex-start;
        align-content: center;
        column-gap: 0.6em
    }
    a {
        text-decoration: none;
        margin: auto;
        font-size: 0.7em;
    }
    ul {
        display: flex;
        justify-content: flex-end;
        align-content: flex-start;
        column-gap: 0.6em;
        li {
            list-style-type: none;
            font-size: 2em;
            i {
                &:hover {
                    color: colors.$hover-color;
                }                
            }

        }
    }
}

.footer--left {
    p {
        font-size: 0.6em;
        letter-spacing: 0.1em
    }
}