@use "../colors";

footer {
    display: flex;
    justify-content: space-between;
    padding: 2em 10em;
}

.footer--left {
    a {
        text-decoration: none;
        margin: 0;
        font-size: 0.7em;
    }
    nav {
        display: flex;
        justify-content: flex-start;
        align-content: center;
        column-gap: 1em
    }
    p {
        font-size: 0.6em;
        letter-spacing: 0.1em;
        color: colors.$lighter-dark;
    }
}

.footer--right {
    ul {
        display: flex;
        justify-content: flex-end;
        align-content: flex-start;
        column-gap: 2em;
        li {
            list-style-type: none;
            font-size: 1.3em;
            i {
                &:hover {
                    color: colors.$hover;
                }                
            }

        }
    }    
}