@use "../mixins";
@use "../images";
@use "../colors";
@use "../fonts";

.newest {
    grid-area: newest;
    padding: 3em 5em 3em 5em;
    text-align: center;
    .button--large {
        width: 100%;
    }
    .text--middle {
        text-transform: uppercase;
        font-size: small;
    }
}

.posts--newest {
    display: flex;
    flex-direction: column;
    gap: 4em;
    div {
        gap: 1em;
        @include mixins.post-div;
        background-image: linear-gradient(rgba(39, 160, 150, 0.5), rgba(251, 252, 251, 0.5)), url(images.$image1);
        background-size: 100%;
        padding: 9em;
        transition: background-size 0.5s ease-in-out;
        button {
            align-self: flex-start;
        }
        &:hover {
            background-size: 102%;
        }
    }
}