@use "../colors";

.subscribe {
    grid-area: subscribe;
    text-align: center;
    padding: 3em;
    input {
        width: 50%;
        margin: 2em;
        padding: 1em;
        border: none;
        border-bottom: 1.5px solid colors.$light;
        text-align: center;
        transition: width 2s ease-in-out;
        &:focus-visible {
            outline: none;
        }
        &:focus{
            width: 60%;
        }
    }
}

.animation--typing {
    display:inline-flex;
    text-align: center;
    span {
        animation: typing 10s ease infinite alternate;
        word-break: break-all;
        letter-spacing: 0.3em;
        overflow: hidden;
        width: max-content;
        height: 1.2em;
        border-right: .15em solid colors.$light;  
    }

}

@keyframes typing {
    0%, 10% {width: 0%;}
    40%, 50% { width: 100% }
    90%, 100% { width: 0%;}
}